*{
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(37, 8, 8);
}
body {
    background-color: rgb(255, 225, 211);
    position: relative;
}
p {
    display: inline-block;
}
a {
    text-decoration: none;
}


/************************************************************************************************/
/*********************************************HEADER*********************************************/
/************************************************************************************************/

header.header {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1400px;
    background-color: rgb(218, 181, 165);
    border-radius: 80px;
    border: 2px solid whitesmoke;
    display: grid;
    grid-template-columns: 3fr 10fr;
    justify-content: space-between;
    font-size: 20px;
}

.header .logo-header {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.header .logo-header:hover {
    cursor: pointer;
}

.header .logo-header .logo-img {
    height: 70px;
    border-radius: 35px;
}

.header .logo-header .logo-name{
    font-size: 30px;
}

.header .nav-menu {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 20px;
    justify-self: end;
    align-self: center;
    gap: 20px;
    padding-right: 10px;
}

.header .nav-menu .nav-par {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: fit-content;
    border-radius: 30px;
    transition: .3s;
}

.header .nav-menu .nav-par:hover {
    background-color: rgb(206, 167, 150);
    box-shadow: 0 0 0 15px rgb(206, 167, 150);
}


/************************************************************************************************/
/**********************************************MAIN**********************************************/
/************************************************************************************************/

.main-content{
    padding: 20px;
    margin: 10px auto;
    max-width: fit-content;
    background-color: rgb(250, 227, 217);
    border-radius: 80px;
    border: 2px solid whitesmoke;
    display: grid;
}


/************************************************************************************************/
/*********************************************FOOTER*********************************************/
/************************************************************************************************/

footer.footer{
    padding: 20px 200px;
    margin: 0 auto;
    margin-top: 66px;
    max-width: 1020px;
    background-color: rgb(218, 181, 165);
    border-radius: 80px;
    border: 2px solid whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    justify-content: space-between;
    font-size: 16px;
    gap: 10px;
}

.footer .footer-nav {
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
}

.footer .footer-nav .footer-nav-link {
    width: 100px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(196, 153, 134);
    display: grid;
    align-content: center;
    border-radius: 30px;
    transition: .3s;
    border: 2px solid rgb(163, 126, 110);
}

.footer .footer-nav .footer-nav-link:hover {
    background-color: rgb(212, 172, 156);
}

.footer .creator-info {
    margin: 20px auto;
}


/************************************************************************************************/
/*******************************************HOME-PAGE********************************************/
/************************************************************************************************/

.main-content .home-page {
    display: grid;
    justify-self: center;
    justify-items: center;
    color: black;
}

.main-content .home-page .home-page-img {
    border-radius: 15px;
    width: 70%;
}

.main-content .home-page .home-page-head, .main-content .home-page .home-page-desc {
    color: black;
    width: 70%;
    text-align: center;
    margin: 10px
}

/************************************************************************************************/
/*****************************************AUTHORIZATION******************************************/
/************************************************************************************************/

.auth-header {
    display: grid;
    margin: 0 auto;
    padding: 5px 10px;
    max-width: 1400px;
}

.auth-header .auth-link-container {
    /* width: 23%; */
    width: 250px;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 3px;
    background-color: rgb(163, 126, 110);
    border-radius: 30px;
    border: 3px solid rgb(163, 126, 110);
}

.auth-header .auth-link-container .auth-link {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    background-color: rgb(196, 153, 134);
    transition: 0.4s;
}

.auth-header .auth-link-container .auth-link:hover{
    background-color: rgb(212, 172, 156);
    /* background-color: rgb(160, 121, 105); */
}

.auth-header .auth-link-container .auth-link.auth-left-link {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.auth-header .auth-link-container .auth-link.auth-right-link {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* .auth-header .auth-link-container.auth-exit {
    width: 125px;
    grid-template-columns: 1fr;
}

.auth-header .auth-link-container.auth-exit .auth-link{
    border-radius: 30px;
} */


/************************************************************************************************/
/******************************************REGISTRATION******************************************/
/************************************************************************************************/

.main-content .registration-page {
    width: 950px;

    display: grid;
    justify-content: center;
}

.main-content .registration-page .registration-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.main-content .registration-page .auth-form {
    display: grid;
}

.main-content .registration-page .auth-form .input-form{
    font-size: 18px;
    margin: 10px;
    width: 582.5px;
}
.main-content .registration-page .auth-form .input-form input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;

    font-size: 18px;
    line-height: 30px;
    border-radius: 15px;
    border: 2px solid rgb(196, 153, 134);
    /* background-color: rgb(235, 219, 212); */
    background-color: whitesmoke;
    transition: .3s;
}

.main-content .registration-page .auth-form .input-form input:focus {
    outline: none;
}

.main-content .registration-page .auth-form .input-form .input-error {
    font-size: 12px;
    color: tomato;
}

.main-content .registration-page .auth-form .input-form .reset-password-link {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    color: rgb(13, 112, 194);
    transition: 0.3s;
    display: inline-block;
}

.main-content .registration-page .auth-form .input-form .reset-password-link:hover {
    color: rgb(48, 162, 255);
}

.main-content .registration-page .new-password-page {
    display: grid;
    justify-items: center;
}

.main-content .registration-page .new-password-page .new-pass {
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    width: fit-content;
    border: 2px solid black;
}


/************************************************************************************************/
/********************************************CABINET*********************************************/
/************************************************************************************************/

.main-content .cabinet-info {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 400;
    height: 400px;
}

.main-content .cabinet-info .cabinet-image {
    width: 200px;
    border-radius: 50%;
}

.main-content .cabinet-info .cabinet-info-text {
    display: grid;
    padding: 20px;
}

.main-content .cabinet-info .cabinet-info-text .cabinet-info-par {
    line-height: 170%;
}

.main-content .cabinet-info .cabinet-info-text .cabinet-info-par span {
    font-weight: bold;
}

.main-content .cabinet-info .cabinet-info-text .cabinet-info-par.cabinet-favourite {
    justify-self: center;
    width: fit-content;
    font-size: 24px;
    margin-top: 10px;
    color: orangered;
}


/************************************************************************************************/
/********************************************GALLERY*********************************************/
/************************************************************************************************/

.main-content .gallery {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 950px;
    justify-self: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.main-content .animal-desc-container {
    padding: 20px;
    width: 930px;
    display: grid;
}

.main-content .animal-desc-container .animal-desc-head{
    vertical-align: middle;
    text-align: center;
    line-height: 150%;
    margin-bottom: 20px;
}

.main-content .animal-desc-container .animal-desc-par{
    vertical-align: middle;
    line-height: 150%;
    margin-bottom: 10px;
}

.main-content .animal-desc-container .animal-desc-link {
    font-size: 20px;
    display: inline-block;
    width: fit-content;
    text-align: center;
    color: darkcyan;
    align-self: center;
    justify-self: center;
}

.main-content .gallery-img-container{
    width: 300px;
    height: 300px;
    background-color: rgb(250, 218, 204); /*  rgb(250, 227, 217)  */
    border-radius: 30px;
}

.main-content .gallery .gallery-img-container .gallery-img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: contain;
    border: 1px dotted white;
}

.main-content .gallery .gallery-img-container .gallery-img:hover {
    cursor: pointer;
}

.main-content .gallery .gallery-img {
    width: 100%;
}

.main-content .gallery .gallery-img-container.big-img-container {
    background-color: rgba(172, 141, 128, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}

.main-content .gallery .gallery-img.big-img {
    position: fixed;
    border: 1px none;
    height: 95vh;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.main-content .gallery .gallery-img-container .add-fav-container {
    position: absolute;
    display: inline-flex;
    top: 5px;
    left: 5px;
    width: fit-content;
}













/************************************************************************************************/
/*********************************************EMPTY**********************************************/
/************************************************************************************************/

.main-content .empty-page-container {
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

.main-content .empty-page-container .empty-page-head {
    justify-self: center;
    align-self:flex-end;
    font-size: 30px;
}

.main-content .empty-page-container .empty-page-par {
    justify-self: center;
}